*{
    margin:0;
    padding:0;
    
}

.header{
    background-color:rgb(181, 104, 252);
    
}

h1{
    text-align: center;
    margin:1rem;
    padding:1rem;
    color:red;
    font-size: 3rem;
}

h2{
    margin-bottom: 3rem;
    font-size: 2rem;
}

.paraphase{
    text-align: left;
}