*{
    margin: 0;
    padding: 0;
    /* background-color: silver; */
}

.heading{
    text-align: center;
}

.heading h1{
    color: red;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.co-container{
    border: 1px solid #000000;
    background-color: #90ee90;
    height: 25rem;
    width: 15rem;
    border-radius: 20px;
}
img{
    height: 20rem;
    width: 15rem;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.txt-cont{
    /* padding-top: 15px;
    padding-left: 20px; */
    padding: 15px;

}
 
.icon{
    margin-top:    5px;
    
}

h3{
    margin-bottom: 10px;
}
i{
    color: white;
}
 
.icon:hover{
    color: red;
}
